@import '../../node_modules/include-media/dist/include-media';
@import './index.scss';
$breakpoints: (
  'phone': 320px,
  'phone-l':425px,
  'tablet': 768px,
  'desktop': 1024px
);

.container{
    width: 100%;
    height: 1000px;

    @include media('<=desktop'){
        height: 600px;
     }
     @include media("<=phone-l"){
       height: 750px;
      }
    .upperCircels{
        position: absolute;
        height: 900px;
        top:-5rem;
        left:-16rem;

        @include media('<=desktop'){
           left: -17rem;
           top: -18rem;
        }
        @include media('<=tablet'){
            left: -12rem;
            top: -20rem;
         }
         @include media("<=phone-l"){
            left: 10rem;
            top: -32rem;
           }

        
    }
    .downerCircels{
        position: absolute;
        bottom: -250px;
        left: 400px;

        @include media('<=desktop'){
            top: 280px;
            left:260px;
            width: 600px;
         }
         @include media('<=tablet'){
           top: 250px;
           left: 140px;
           width: 500px;
         }
         @include media('<=phone-l'){
            top: 380px;
            left: -30px;
            width: 300px;
          }
    }
    .logo{
        max-width: 400px;
        position: absolute;
        top: 60px;
        left:60px;
        .cls-1{fill:#808285;}

        @include media('<=desktop'){
            top: 100px;
            max-width: 250px;
        }
        @include media('<=tablet'){
            top: 80px;
            left: 25px;
            max-width: 220px;
         }
         @include media('<=phone-l'){
            top: 120px;
            left: 150px;
            max-width: 110px;
         }
    }
    .header{
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 45%;
        right: 5%;
        z-index: 20;
        display: flex;
        flex-direction: column;

        @include media('<=desktop'){
            top: 40%;
         }

        @include media('<=tablet'){
            top: 30%;
            width: 250px;
            text-align: right;
         }
         @include media('<=phone-l'){
            top: 47%;
            right: 20%;
            text-align: center;
         }

        &__main-header{
            font-size: 3rem;
            letter-spacing: 7px;
            color:white;
            font-weight: 600;
            margin: 0;
            @include media('<=phone-l'){
                letter-spacing: 5px;
             }
            
        }
        &__sub-header{
            color: white;
            font-size: 2.2rem;
            font-weight: 400;
            letter-spacing: 2px;
            margin: 18px 0;

            @include media('<=tablet'){
                line-height: 20px;
             }
        }
        &__button{
            box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.4);
            transition: all linear .2s;

            @include media('<=phone-l'){
                align-self: center;
             }
            &:hover{
                box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.6);
                transform: translate(-2px,-2px);   
            }
            &--link{
            text-align: center;
            display: inline-block;
            background-color: $darkBlue;
            padding: 15px 0;
            width: 120px;
            font-size: 1.2rem;
            text-decoration: none;  
            color: white;
            }
        }
    }
}