

.technologies{
    display: flex;
    justify-content: center;
    align-items: center;
    .colorful-circels{
        position: absolute;
        left:-100px;
    }

    &__container{
        margin-left: 40px;
        &--title{
            font-size: 3rem;
            letter-spacing: 2px;
            font-weight: 300;
        }
    }
}